<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% categories.map((category) => { %>
                <li>
                    <div>ID: <%= category.id %> </div>
                    <div>Category: <%= category.category %> </div>
                    <form action="/categories/<%= category.id %>">
                        <input type="submit" value="Edit Category">
                    </form>
                    <form method="POST" action="/category/delete/<%= category.id %>">
                        <input type="submit" value="Delete Category">
                    </form>
                </li>
            <% }) %>
        </ul>
        <form action="/categories/new" >
            <input type="submit" value="Create New Category">

    </body>
</html>