<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Inventory Application</h1>
        <form action="/?value">
            <label for="order">Order By:</label>
            <select name="order" id="order">
                <option value="alphaAZ">Alphabetical (A-Z)</option>
                <option value="alphaZA">Alphabetical (Z-A)</option>
                <option value="id09">ID (0-9)</option>
                <option value="id90">ID (9-0)</option>
            </select>
            <button type="submit">Submit</button>
        </form>

        <ul>
            <% products.map((product) => { %>
                <li>
                    <div>Product: <%= product.product %> </div>
                    <div>Quantity: <%= product.quantity %> </div>
                    <div>Price: <%= product.price %> </div>
                    <div>Description: <%= product.description %></div>
                    <div>Categories: <%= product.categories %><div>
                    <form action="/product/<%= product.id %>">
                        <input type="submit" value="Edit Product">
                    </form>
                    <form method="POST" action="/product/delete/<%= product.id %>">
                        <input type="submit" value="Delete Product">
                    </form>
                </li>
            <% }) %>
        </ul>
        <form action="/new" >
            <input type="submit" value="Create New Product">
        </form>
        <form action="/categories" >
            <input type="submit" value="Category List">
        </form>
        <!-- <form action="/new" >
            <input type="submit" value="Create New Product">
        </form> -->
    </body>
</html>