<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/categories/new">
            <label for="category">Category: </label>
            <input type="text" id="category" name="category">
            <br/>
            <fieldset>
                <legend>Choose Products In New Category:</legend>
                <% products.map((product) => { %>
                    <div>
                        <input type="checkbox" id=<%= product.product %> name=<%= product.product %> />
                        <label for=<%= product.product %>><%= product.product %></label>
                    </div>
                <% }) %>
            </fieldset>
            <br/>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>